<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>以ERP平台为基础的财务共享中心</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText2/plainText2.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>以ERP平台为基础的财务共享中心</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>广州众算税务师事务所可以向中小企业提供基于云服务器构建的共享ERP平台，也可以对接您的ERP系统，助力您实现财务、业务的一体化，您能够随时掌握您的财务数据、业务数据。</div>

    <div>
        <span>您获得的好处：</span>
        1．财务人工成本可以节省50%或更多：您可以减少或者不配置会计岗位；<br/>
        2．IT成本可以节省40%：您可以不用购置财务软件、进销存、各业务管理等管理软件或模块；<br/>
        3．引导您通过订单利润管理完善报价、成本管控、供应链管理，促进收入的增加和利润的增长；<br/>
        4．财务数据实时共享：您可以在任何时间、任何地点随时查询往来款项、销售数据、采购数据以及各项财务报表、业务报表等，数据的支持实实在在到位；<br/>
        4．最大限度的维护您的税收利益：您的每1张采购单是否已经取得发票、每1张销售单是否已经开出发票，您可以随时获取数据；<br/>
        6．绝对的保密：除税务局以外的任何第三方绝对获取不了您的经营数据。<br/>
        7．密切互动沟通，不定期提供财务建议。<br/>
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>