<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>财产损失所得税税前扣除鉴证</title>
    <link type="text/css" rel="stylesheet" href="/css/plainText/plainText.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>财产损失所得税税前扣除鉴证</span>
    </div>

    <div class="topRight">
        <img src="/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        企业经营面临众多不确定风险，因管理或不可抗力等原因，企业在应收账款、发出商品、超期库存存货、超标废品、盘亏损失、对外投资等方面发生的法定损失或实际损失，我们按照税法和国家相关的民商法律法规的规定予以依法鉴证申报。
    </div>

    <div>
        我们的审计为针对识别出的内部管理问题向您提出管理建议。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>