<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>高新技术企业资质认定审计</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText/plainText.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>高新技术企业资质认定审计</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        高新技术企业可享受15%的企业所得税优惠税率，而标准企业所得税率为25%。高新技术企业需满足技术领域、知识产权、科技人员、研发费用、高新技术产品（服务）收入、创新能力等条件。
    </div>

    <div>
        我们运用技术先导工作方法，从策略、规划、实施、流程管理、技术实现等方面全方位有效改善技术识别、费用归集、文档管理、资质维护以及研发活动管理等研发优惠相关事项和要素。
    </div>

    <div>
        高新技术企业资质审阅和分析：我们分析企业是否符合高新技术企业各项条件，诊断企业可能存在的问题并提供有效改善和优化建议。值得注意的是，已经取得高新技术企业资质的企业在持有资质期间应当持续性满足各项认定条件。我们的服务对象即包括计划申请高新技术企业资质的企业，也包括已经取得高新技术企业资质的企业。根据企业的特定情况与需求，我们的服务内容可包括高新技术企业全部认定条件或其中部分条件的审阅和分析。
    </div>

    <div>
        高新技术企业认定申请协助：辅导或协助企业开展高新技术企业认定申请工作。我们的服务包括协助企业识别其实际情况与法规资质要求的差异、制定改进方案以优化提升、准备申请文件及支持性材料、与认定机构沟通协调等。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>