<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>会计报表审计</title>
    <link type="text/css" rel="stylesheet" href="/css/plainText/plainText.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>会计报表审计</span>
    </div>

    <div class="topRight">
        <img src="/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        会计报表及其附注的完整性、准确性和公允披露是满足股东预期的先决条件。
    </div>

    <div>
        审计对于维持投资者和其他报表使用人对贵公司及市场整体财务体系的信心至关重要。
    </div>

    <div>
        我们的审计为符合适用报告准则的规定提供合理保证，针对识别出的内部管理问题提出管理建议等重要的增值行为，使我们能够帮助您应对当前和将来面临的挑战。
    </div>

    <div>
        我们还能为您提供以下帮助：
        应对向监管机构报告的要求；
        就内部控制和业务流程的缺陷提供建议；
        就复杂交易的会计处理提供建议。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>