<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>企业注销税款清算鉴证</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText/plainText.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>企业注销税款清算鉴证</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        企业终止经营，需要按规定注销公司资格，计量、确认公司的清算资产、清算负债、清算费用，计算清算损益，以此为基础计算公司清盘时应缴纳的企业所得税。
    </div>

    <div>
        除符合简易注销登记的企业外，企业在注销前必须缴清国家税费。。
    </div>

    <div>
        我们的审计为企业注销提供税款清算鉴证服务。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>