<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>企业所得税年度汇算清缴鉴证</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText/plainText.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>企业所得税年度汇算清缴鉴证</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        企业所得税是国家广泛税种中处于中心的地位，它要求企业就税法利润计算缴纳企业所得税。由于税法利润并非企业的实际盈利，涉及会计收入、成本、费用等复杂的纳税调整，企业在税法遵循上面临较大的税务风险。
    </div>

    <div>
        税收本质上是国家与企业在利益成果上的二次分配。
    </div>

    <div>
        我们的审计在遵循国家税法的规定，同时为企业享受国家的财政、税收优惠提供指引。
    </div>

    <div>我们还能为您提供以下帮助：</div>
    <div>就财政、税收优惠政策的享受提供建议；</div>
    <div>就税务合规性提供建议；</div>
    <div>就利润中心或成本中心的数据结果提供建议；</div>
    <div>针对大额纳税调增给予建议。</div>

</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>