<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>软件企业和技术先进型服务企业资质认定审计</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText/plainText.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>软件企业和技术先进型服务企业资质认定审计</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        符合条件的软件企业可享受企业所得税两免三减半的优惠，国家规划布局内重点软件企业当年未享受免税优惠的，减按10%的税率征收企业所得税。软件企业须符合员工学历、研发人员数量、核心关键技术、研发费用、软件产品开发销售（营业）收入、自主知识产权、开发环境等条件。重点软件企业除符合软件企业条件外，还需满足更高要求。
    </div>

    <div>
        对经认定的技术先进型服务企业，减按15%的税率征收企业所得税。技术先进型服务企业需满足业务范围、注册地及生产经营地、员工学历、技术先进型服务收入、离岸服务外包收入等条件。
    </div>

    <div>
        软件企业或先进型服务企业审阅和分析：我们分析企业是否符合各项条件，诊断企业可能存在的问题并提供有效改善和优化建议。根据企业的特定情况与需求，我们的服务内容可包括全部条件或其中部分条件的审阅和分析。
    </div>

    <div>
        软件企业或先进型服务企业备案协助：辅导或协助企业开展备案工作。我们的服务包括协助企业识别其实际情况与法规资质要求的差异、制定改进方案以优化提升、准备申请文件及支持性材料、与认定机构沟通协调等。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>