<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>研发费用加计扣除及其鉴证</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText/plainText.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>研发费用加计扣除及其鉴证</span>
    </div>

    <div class="topRight">
        <img src="/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        除六大特定行业以外，其他所有企业合规研发费用可在计算企业所得税应纳税所得额时按照175%加计扣除。企业申请研发费用加计扣除需满足研发管理、费用归集、所属行业等要求。
    </div>

    <div>
        我们运用技术先导工作方法，从策略、规划、实施、流程管理、技术实现等方面全方位有效改善技术识别、费用归集、文档管理、资质维护以及研发活动管理等研发优惠相关事项和要素。
    </div>

    <div>
        研发费用加计扣除可行性审阅和分析：从研发活动的技术性质、研发管理、研发费用、内部文档等方面，分析企业能否申请研发费用加计扣除，评估可能的节税效应，以协助企业完善内部管理、充分享受优惠。
    </div>

    <div>
        研发费用加计扣除备案协助：辅导或协助企业完成研发费用加计扣除税收优惠备案，成功享受优惠。我们的服务包括协助企业识别合规研发活动及研发费用、准备备案申报文件及留存备查资料等。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>