<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>政府补助申请</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/plainText/plainText.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>政府补助申请</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/QRCode/shenji.jpg">
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div>
        为了鼓励科技创新，推动科技进步，政府授予符合申请、评审条件的企业或个人的各类专项资金、补助等。
    </div>

    <div>
        我们密切掌握政府多个主管部门关于在不同财政年度的资金扶持项目及资金扶持计划公告，可以协助您做众多政府补助项目的申请，如固定资产投资事后奖补、高新技术企业补助、工程技术中心建设补助，等等。
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>