<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>护眼眼罩</title>
    <link type="text/css" rel="stylesheet" href="/css/huyanyanzhao.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/huyanyanzhao.js"></script>
</head>
<body style="display: flex;flex-direction: column;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="/img/shenji.jpg"/>
        <img src="/img/QRCode/yanzhaoQRC.jpg"/>
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">

    <div class="mainItemTitle" style="">
        <span style="">护眼眼罩</span>
        <div style=""></div>
    </div>

   <div class="mainItemProduct">
       <div style="">
           <img src="/img/yanzhao/yanzhao3.jpg"/>
       </div>

       <div style="">
           <img src="/img/yanzhao/yanzhao2.jpg"/>
       </div>

       <div style="">
           <img src="/img/yanzhao/yanzhao1.jpg"/>
       </div>
   </div>

    <div class="mainItemContain">
        <div class="containTitle">
            <span style="">成分</span>
        </div>
        <div class="containLine" style=""></div>

        <div class="mainItemContainList" >
            <div class="containTop">
                <div class="containItem">
                    <span style="">艾叶</span>
                    <span style="">药食同源</span>
                    <span style="">温经通络</span>
                    <span style="">祛湿散寒</span>
                    <span style="">消炎止血</span>
                    <span style="">抗敏感</span>
                </div>

                <div class="containItem" style="">
                    <span style="">冰片</span>
                    <span style="">内服外用</span>
                    <span style="">药引子</span>
                    <span style="">通诸窍</span>
                    <span style="">泻热明目</span>
                    <span style="">消肿止痛</span>
                </div>

                <div class="containItem" style="">
                    <span style="">决明子</span>
                    <span style="">清热平肝</span>
                    <span style="">益肾明目</span>
                    <span style="">降脂降压</span>
                    <span style="">老眼不花</span>
                </div>

                <div class="containItem" style="">
                    <span style="">蒙花</span>
                    <span style="">药食同源</span>
                    <span style="">清热利湿</span>
                    <span style="">养肝明目</span>
                    <span style="">清肝退热</span>
                    <span style="">消炎</span>
                </div>
            </div>
            <div class="containFoot">
                <span>眼罩成分艾叶</span>
                <span>药食同源&nbsp;即可使用&nbsp;又可入药</span>
            </div>
        </div>


    </div>
</div>



<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>