<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body >
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <a href="#">服务项目</a>
        <a href="./zizhizhengshu.html">资质证照</a>
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div class="mainItem">
        <a class="mainItemA">管理咨询</a>
        <div>
            <div class="itemLeft">
                <a href="./plainText2/caiwuguanli.html">财务管理咨询</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText2/yunyingguanli.html">运营管理咨询</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/changnianshuiwu.html">常年税务顾问</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/zhengfubuzhu.html">政府补助申请</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
    </div>


    <div class="mainItem">
        <a class="mainItemA">税务审计及鉴证</a>
        <div>
            <div class="itemLeft">
                <a href="./plainText/qiyesuodeshui.html">企业所得税年度会算清缴见证</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/kuaijibaobiao.html">会计报表审计</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/yanfafeiyong.html">研发费用加补扣除鉴证</a>
         </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/tudizengzhi.html">土地增值税清算鉴证</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/caichansunshi.html">财产损失所得税税前扣除鉴证</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>

        <div>
            <div class="itemLeft">
                <a href="./plainText/qiyezhuxiaoshui.html">企业注销税款清算鉴证</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
        <div>
            <div class="itemLeft">
                <a href="./plainText/gaoxinjishu.html">高新技术企业资质认定审计</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
        <div>
            <div class="itemLeft">
                <a href="./plainText/ruanjianqiye.html">软件企业和技术先进型服务企业资质认定审计</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
    </div>
    <div class="mainItem">
        <a class="mainItemA">代理记账及ERP服务</a>
        <div>
            <div class="itemLeft">
                <a href="./plainText2/dailijizhang.html">以ERP平台为基础的财务共享中心</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
    </div>
    <div class="mainItem">
        <a class="mainItemA" href="huyanyanzhao.html">商品销售</a>
        <div>
            <div class="itemLeft">
                <a href="#">护眼眼罩</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
        <div>
            <div class="itemLeft">
                <a href="./wineRecommend.html">红酒推荐</a>
            </div>
            <div class="itemRight">
                <a>&gt;</a>
            </div>
        </div>
    </div>
</div>

<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>


</body>
</html>