<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>资质证书</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zizhizhengshu.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/zizhizhengshu.js"></script>
</head>
<body>
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="/img/shenji.jpg"/>
    </div>
</div>



<!--内容控件-->
<div class="mainContainer">

    <div class="mainItemTitle" style="">
        <span style="">资质证书</span>
        <div style=""></div>
    </div>

    <div>
        <img src="../static/img/zizhizhengshu.jpg"/>
    </div>

</div>


<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>

</body>
</html>