<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>加州金熊古藤仙芬黛干红葡萄酒</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/wine/wine.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/wine/jinxiongWine.js"></script>
</head>
<body style="display: flex;flex-direction: column;width: 100%;height: 100%;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/shenji.jpg"/>
        <img src="../../static/img/QRCode/hongjiuQC.jpg"/>
    </div>
</div>



<!--内容控件-->
<div class="mainContainer">
    <div class="mainTitle">品名：金雄干红葡萄酒（Moss Roxx Ancient vine Zinfandel 2014)</div>
    <div class="imgContainer">
        <img class="img1" src="../../static/img/commodity/jinxiong_zheng.jpg">
        <img class="img2" src="../../static/img/commodity/jinxiong_zhengfan.jpg">
        <img class="img3" src="../../static/img/commodity/jinxiong_fan.jpg">
    </div>
    <div class="mainContentContainer">
        <div class="introduceContainer">
            <span class="introduceName">加州金熊古藤仙芬黛干红葡萄酒</span>
            <div class="introduceEnName">（Moss Roxx Ancient vine Zinfandel 2014）介绍</div>
            <div class="mainIntroduce">
                <span>产地：美国（美国驻广州领事馆用酒）</span>
                <span>产区：加州洛迪（Lodi）</span>
                <span>产品类型：干红</span>
                <span>规格：750毫升</span>
                <span>葡萄品种：仙芬黛（Zinfandel）</span>
                <span>葡萄树龄：50-120年之间</span>
                <span>酒精度：14.5%</span>
                <span>橡木桶陈酿：18个月</span>
                <span>色泽：深红宝石色</span>
                <span>香味：浓郁的覆盆子浆和香草的香气</span>
                <span>口感：口感甜美，入口感觉有巧克力的香味，以及香料的味道，酒体强劲饱满，单宁细腻柔顺，平衡性佳，余味悠长。</span>
                <span>最佳饮用温度：15-18℃</span>
                <span>醒酒时间：饮用前醒酒30分钟</span>
            </div>
        </div>

        <div>
            <div class="jiuzhuangTitle">酒庄介绍</div>
            <div class="jiuzhuangMain">
                <span>豪客庄园（Oak Ridge Winery）</span>美国第二大葡萄酒庄园，葡萄园种植面积超过10万亩，种植了仙芬黛、赤霞珠、梅乐、霞多丽等葡萄品种，部份古藤仙芬黛树龄长达120年，产量极少，所酿出的葡萄酒香气浓郁且丰富。
            </div>
        </div>

        <div class="prizeContainer">
            <div class="prizeCondition">获奖情况</div>
            <div class="prizeMain">
                <span>2016年“休斯敦牛仔节”大金奖（Double Gold Houston Livestock/Rodeo Wine Competition 2016，Class Champino）;</span>
                <span>2016年“五十最佳”加州仙芬黛评选赛金奖（Gold The Fifty Best-2016 CA Zinfandel）;</span>
                <span>2015年奥兰治郡博览会葡萄酒大赛金奖（Gold Orange County Fair Wine Competition 2015）;</span>
                <span>2015年洛迪消费者葡萄酒大赛银奖（Wilver Lodi Consumer Wine Awards 2015）;</span>
                <span>2015年“评论家的挑战”国际葡萄酒大赛银奖（Silver Critic,s Challenge International Wine Competition 2015）;</span>
                <span>2015年加利福尼亚州博览会葡萄酒大赛银奖（Silver California State Fair Wine Competition 2015）;</span>
                <span>2015年日落国际葡萄酒大赛银奖（Sliver Sunset International Wine Competition 2015）;</span>
                <span>2015年纽约国际葡萄酒大赛银奖（Silver New York International Wine Competition Awards 2015）;</span>
                <span>2015年TEXSOM国际葡萄酒大赛铜奖（Bronze TEXSOM International Wine Competition 2015）;</span>
                <span>2012年广东国际酒类商品展销会银奖;</span>
                <span>2012年度广东酒类市场受消费者欢迎产品。</span>
            </div>
        </div>
    </div>
</div>
<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>
</body>
</html>