<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>罗莎莉奥庄红葡萄酒2015</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/wine/wine.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/wine/lslaWine.js"></script>
</head>
<body style="display: flex;flex-direction: column;width: 100%;height: 100%;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span >广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/shenji.jpg"/>
        <img src="../../static/img/QRCode/hongjiuQC.jpg"/>
    </div>
</div>



<!--内容控件-->
<div class="mainContainer">
    <div class="mainTitle">品名：罗莎莉奥庄红葡萄酒2015</div>
    <div class="imgContainer">
        <img class="img1" src="../../static/img/commodity/lsla_zheng.jpg">
        <img class="img2" src="../../static/img/commodity/lsla_zhengfan.jpg">
        <img class="img3" src="../../static/img/commodity/lsla_fan.jpg">
    </div>
    <div class="mainContentContainer">
        <div class="introduceContainer">
            <span class="introduceName">罗莎莉奥庄红葡萄酒2015</span>
            <div class="introduceEnName">（Rosario）介绍</div>
            <div class="mainIntroduce">
                <span>产地：葡萄牙，费尔南多埔</span>
                <span>葡萄品种：卡斯特劳，国家多瑞加，西拉赤霞珠</span>
                <span>年份：2015年</span>
                <span>规格：750毫升</span>
                <span>葡萄品种：仙芬黛（Zinfandel）</span>
                <span>葡萄树龄：50-120年之间</span>
                <span>酒精度：13.5%</span>
                <span>色泽：深红宝石色</span>
                <span>香味：成熟的红色水果和甜美的香草芬芳</span>
                <span>口感：酒体丰腴浓厚，口感复杂，单宁柔滑</span>
            </div>
        </div>


        <div>
            <div class="jiuzhuangTitle">酿酒师评鉴：</div>
            <div class="jiuzhuangMain">
                深宝石红的酒液，散发红色成熟水果和甜美的香草芬芳。品尝一口，便会被丰厚的酒体吸引。香浓的鲜果芬芳和柔滑优雅的单宁在口腔萦绕，口感复杂，余韵悠长。
            </div>
        </div>
    </div>


</div>
<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>
</body>
</html>