<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>迷金仙粉黛红葡萄酒2013</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/wine/wine.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/wine/mijinWine.js"></script>
</head>
<body style="display: flex;flex-direction: column;width: 100%;height: 100%;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/shenji.jpg"/>
        <img src="../../static/img/QRCode/hongjiuQC.jpg"/>
    </div>
</div>



<!--内容控件-->
<div class="mainContainer">
    <div class="mainTitle">品名：迷金仙粉黛红葡萄酒2013</div>
    <div class="imgContainer">
        <img class="img1" src="../../static/img/commodity/mijin_zheng.jpg">
        <img class="img2" src="../../static/img/commodity/mijin_zhengfan.jpg">
        <img class="img3" src="../../static/img/commodity/mijin_fan.jpg">
    </div>

    <div class="mainContentContainer">
        <div class="introduceContainer">
            <span class="introduceName">迷金仙粉黛红葡萄酒2013 介绍</span>>
            <div class="introduceEnName">（Into Zin Zinfandel 介绍</div>
            <div class="mainIntroduce">
                <span>产地：梅多克法定产区</span>
                <span>年份：2012年</span>
                <span>成分：70%海洛,29%赤霞珠,1%品丽珠</span>
                <span>颜色：石榴红</span>
                <span>香味：浓郁的水果香气</span>
                <span>味道：单宁厚重,口感柔滑</span>
                <span>酒精度：13.0%</span>
                <span>净含量：750毫升</span>
            </div>
        </div>


        <div>
            <div class="jiuzhuangTitle">酿酒师评鉴：</div>
            <div class="jiuzhuangMain">
                高贵优雅的酒体，散发浓郁水果香气；细腻一口，口感犹如天鹅绒顺滑，单宁厚重细致，丰腴的水果香气与单宁平衡和谐，予人留下深刻印象。
            </div>
        </div>

    </div>
</div>
    <!--底部控件-->
    <div class="footer">
        <span>备案/许可证编号：粤ICP备14096990号 </span>
    </div>
</body>
</html>