<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>加州三妹赤霞珠干红葡萄酒</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/wine/wine.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/wine/sanmeiWine.js"></script>
</head>
<body style="display: flex;flex-direction: column;width: 100%;height: 100%;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/shenji.jpg"/>
        <img src="../../static/img/QRCode/hongjiuQC.jpg"/>
    </div>
</div>



<!--内容控件-->
<div class="mainContainer">
    <div class="mainTitle">品名：加州三妹赤霞珠干红葡萄酒（3 Girls Cabernet Sauvignon）</div>
    <div class="imgContainer">
        <img class="img1" src=../../static/img/commodity/sanmei_zheng.jpg">
        <img class="img2" src="../../static/img/commodity/sanmei_zhengfan.jpg">
        <img class="img3" src="../../static/img/commodity/sanmei_fan.jpg">
    </div>


    <div class="mainContentContainer">
        <div class="introduceContainer">
            <div class="introduceName">加州三妹赤霞珠干红葡萄酒</div>
            <div class="introduceEnName">（3 Girls Cabernet Sauvignon）介绍</div>
            <div class="mainIntroduce">
                <span>产地：美国（美国驻广州领事馆用酒）</span>
                <span>产区：加州洛迪（Lodi）</span>
                <span>产品类型：干红</span>
                <span>规格：750毫升</span>
                <span>葡萄品种：赤霞珠（Cabernet Sauvignon）</span>
                <span>葡萄树龄：8-30年之间</span>
                <span>酒精度：13%</span>
                <span>橡木桶陈酿：12个月</span>
                <span>色泽：靓丽的宝石红</span>
                <span>香味：浓郁的黑色浆果、橡木和香草的香气</span>
                <span>口感：酒体饱满、甜润，入口有成熟的浆果和淡淡的橡木香。</span>
                <span>最佳饮用温度：15-18℃</span>
                <span>醒酒时间：饮用前醒酒30分钟</span>
            </div>
        </div>

        <div>
            <div class="jiuzhuangTitle">酒庄介绍</div>
            <div class="jiuzhuangMain">
                <span>豪客庄园（Oak Ridge Winery）</span>美国第二大葡萄酒庄园，葡萄园种植面积超过10万亩，种植了仙芬黛、赤霞珠、梅乐、霞多丽等葡萄品种，部份古藤仙芬黛树龄长达120年，产量极少，所酿出的葡萄酒香气浓郁且丰富。
            </div>
        </div>

        <div>
            <div class="prizeCondition">获奖情况</div>
            <div class="prizeMain">
                <span>2013年 休斯敦国际葡萄酒大赛银奖;</span>
                <span>2012年 洛迪最受消费者欢迎葡萄酒大赛金奖;</span>
                <span>2012年 长滩国际葡萄酒大赛银奖;</span>
                <span>2012年 旧金山国际葡萄酒大赛铜奖;</span>
                <span>2011年 环太平洋地区葡萄酒评比大赛金奖;</span>
                <span>2010年 加州橘郡商业葡萄酒评比大赛金奖;</span>
                <span>2012年度 广东酒类市场受消费者欢迎产品。</span>
            </div>
        </div>
    </div>
</div>
<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>
</body>
</html>