<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <title>斯丹蔓萝老树仙芬黛红葡萄酒</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/wine/wine.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/wine/jinxiongWine.js"></script>
</head>
<body style="display: flex;flex-direction: column;width: 100%;height: 100%;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/shenji.jpg"/>
        <img src="../../static/img/QRCode/hongjiuQC.jpg"/>
    </div>
</div>


<!--内容控件-->
<div class="mainContainer">
    <div class="mainTitle">品名：斯丹蔓萝老树仙芬黛红葡萄酒2011（STAMA Old Vine Zinfandel)</div>
    <div class="imgContainer">
        <img class="img1" src="../../static/img/commodity/sdml_zheng.jpg">
        <img class="img2" src="../../static/img/commodity/sdml_zhengfan.jpg">
        <img class="img3" src="../../static/img/commodity/sdml_fan.jpg">
    </div>


    <div class="mainContentContainer">
        <div class="introduceContainer">
            <div class="introduceName">斯丹蔓萝老树仙芬黛红葡萄酒2011</div>
            <div class="introduceEnName">（STAMA Old Vine Zinfandel)介绍</div>
            <div class="mainIntroduce">
                <span>产地：美国加州洛迪）</span>
                <span>年份：2011年</span>
                <span>酒体：浓郁酒体</span>
                <span>成分：仙芬黛</span>
                <span>颜色：宝石红</span>
                <span>香味：复杂的神色水果香气，兼有呍呢拿，咖啡和香料的辛芳</span>
                <span>口感：口感丰腴，优美的单宁，成就浓厚甘美的酒体</span>
                <span>酒精度：15.9%</span>
                <span>净含量：750毫升</span>
            </div>
        </div>
    </div>


        <div>
            <div class="jiuzhuangTitle">酿酒师评鉴：</div>
            <div class="jiuzhuangMain">
                颜色是亮丽宝石红，扑鼻的复杂深色水果香气，兼有兼有呍呢拿，咖啡和香料的辛芳，入口丰腴圆润，优良的葡萄质量管理，使每一颗葡萄能成为优质的琼浆。于法国木桶陈贮，造就出具优美层次的单宁，浓厚甘美的酒体。
            </div>
        </div>
    </div>

    <!--底部控件-->
    <div class="footer">
        <span>备案/许可证编号：粤ICP备14096990号 </span>
    </div>

</body>
</html>