<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>是谷庭特级珍藏赤霞珠红葡萄酒</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/wine/wine.css">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/wine/jinxiongWine.js"></script>
</head>
<body style="display: flex;flex-direction: column;width: 100%;height: 100%;overflow-x:hidden">
<!--顶部组件-->
<div class="topMain">
    <div class="topLeft">
        <span>广州众算税务师事务所有限公司</span>
    </div>

    <div class="topRight">
        <img src="../../static/img/shenji.jpg"/>
        <img src="../../static/img/QRCode/hongjiuQC.jpg"/>
    </div>
</div>



<!--内容控件-->
<div class="mainContainer">
    <div class="mainTitle">品名：是谷庭特级珍藏赤霞珠红葡萄酒（CASA DI SUI Superior Cabernet Sauvignon 2009)</div>
    <div class="imgContainer">
        <img class="img1" src="../../static/img/commodity/sgtc_zheng.jpg">
        <img class="img2" src="../../static/img/commodity/sgtc_zhengfan.jpg">
        <img class="img3" src="../../staticimg/commodity/sgtc_fan.jpg">
    </div>


    <div class="mainContentContainer">
        <div class="introduceContainer">
            <div class="introduceName">是谷庭特级珍藏赤霞珠红葡萄酒</div>
            <div class="introduceEnName">（CASA DI SUI Superior Cabernet Sauvignon 2009)介绍</div>
            <div class="mainIntroduce">
                <span>产地：美国加州，中央谷</span>
                <span>年份：2009年</span>
                <span>成分：100%赤霞珠葡萄</span>
                <span>颜色：宝石红</span>
                <span>香味：散发成熟的李子和黑樱桃的果香</span>
                <span>口感：丝丝松香和薄荷的清新气息丝般柔滑酒体，给人留下深刻悠长的余韵</span>
                <span>酒精度：13.1%</span>
                <span>净含量：750毫升</span>
            </div>
        </div>

        <div>
            <div class="jiuzhuangTitle">酿酒师评鉴：</div>
            <div class="jiuzhuangMain">
                <span>特级珍藏的“是谷庭”赤霞珠红葡萄酒</span>，严选加州高素质的赤霞珠酿制。香浓的草莓果酱，新鲜黑醋栗和淡淡的焦糖香气迎面而来。惹人喜爱梅子和李子香味伴随香草和雪松的复杂气息从舌尖溜流到喉底。柔和顺滑的酒体加上浓香复杂的味道，令这趟品酒之旅别具一格。这种感觉不会一瞬即逝，而是十年如一日地温暖难忘。该酒适宜和小羊肉或牛肉一齐享用。
            </div>
        </div>

    </div>
</div>
<!--底部控件-->
<div class="footer">
    <span>备案/许可证编号：粤ICP备14096990号 </span>
</div>
</body>
</html>